@import "tailwindcss";

@theme {
  --color-primary: #0ea5e9;
  --color-primary-dark: #0284c7;
  --color-dark-bg: #0f172a;
  --color-dark-card: #1e293b;
}

@layer base {
  body {
    @apply bg-dark-bg text-gray-100 font-sans antialiased;
  }
}
